.el-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.el-submenu__title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
/*由于 element-ui 的<el-menu>标签本身希望里面嵌套的是<el-menu-item>,<el-submenu>,<el-menu-item-group>之一，但是却嵌套了<div>,而导致收折就隐藏不了文字*/
/*隐藏文字*/
.el-menu--collapse .el-submenu__title span {
  display: none;
}
/*隐藏 > */
.el-menu--collapse .el-submenu__title .el-submenu__icon-arrow {
  display: none;
}
.el-menu--collapse .el-submenu [class^='el-icon-'] {
  margin-left: 3px;
}
/** 二级菜单不会有分组名 **/
.el-menu-item-group__title {
  padding: 0px;
}
